<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Late Night Tonight is just a fun little project, please don't sue!
</p>
<p>
  You can contact me at <a href="mailto:matt.geneau@gmail.com?Subject=Late%20Night%20Tonight">matt.geneau@gmail.com</a>
</p>